@charset "UTF-8";


.galart{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.galart-top, .galart-bottom{
	text-align: center;
}

.galart-img{
	width: 100%;
}

.galart-bottom{
	/* Same padding as p in galart-top */
	padding-top: 1em;
	padding-bottom: 1em;
}

i{
	cursor: pointer;
}

