@charset "UTF-8";


.galart{
	width: 40%;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.galart-top, .galart-bottom{
	text-align: center;
}

.galart-img{
	width: 100%;
	margin-bottom:0;
	display: block;
}

.galart-bottom{
	/* Same padding as p in galart-top */
	margin-top:0;
	padding-top: 1em;
	padding-bottom: 1em;
}

i{
	cursor: pointer;
}

h1{
	text-align: center;
}
#blur
{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

}
.prompttext{
	font-size:1.3em;
	margin-top:20px;
	margin-bottom:10px;
}

.smallertext{
	font-size: 0.6em;
	font-family: monospace;
	color: gray;
}

