@charset "ISO-8859-1";


#loginBox
{
	background-color: #ACEBFF;
	font-size: 42px;
	height: 50%;
	width: 50%;
	padding: 70px;
	text-align: center;
	margin: auto;
}
body
{
	background-color: #E7FBFF;
	
}