@charset "ISO-8859-1";


#loginBox
{
	background-color: #ACEBFF;
	font-size: 30px;
	height: 600px;
	width: 40%;
	padding: 0px;
	text-align: center;
	margin: auto;
	margin-top: 8%;
	border-radius: 70px;
}
body
{
	background-color: #E7FBFF;
	font-family: 'Irish Grover', cursive;
	
}
#loginBoxLogin
{
	font-size: 35px;
	background-color: #F6DDDD;
	border-radius: 70px;
	
}
#signInButton
{
	background-color: #F4DF93;
	border-radius: 70px;
	width: 50%;
	font-size: 28px;	
}
.regForm
{
	margin-bottom: 30px;
	width:420px;
	height:40px;
	border: 1px;
	padding: 5px;
	text-align: center;
	background-color: #E7FBFF;
	border-radius: 5px;
	font-family: 'Irish Grover', cursive;
	font-size: 30px;
	
	
}
#bottomText
{
	margin-bottom: 0px;
	margin-top: 120px;
	
}
bottomText2:visited{
	color:blue;
	
 }
bottomText2:link
{
	color:blue;
}

#bottomText3
{
	margin-bottom: 0px;
	margin-top: 90px;
	
}