@charset "ISO-8859-1";

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-size: 24px;
	font-family: 'Irish Grover', cursive;
}

.unselectable {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

/* Rounded corners */
.rounded {
	border-radius: 30px;
	overflow: hidden;
}

.left-rounded {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	overflow: hidden;
}

.right-rounded {
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	overflow: hidden;
}

.top-rounded{
	border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   overflow: hidden;
}

.bottom-rounded{
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   overflow: hidden;
}


/* Tape */
.tape {
  background-color: hsla(0,0%,100%,.2);
  box-shadow: inset 0 0 1em .5em hsla(0,0%,100%,.1);
  height: 3em;
  position: absolute;
  width: 9em;
  -webkit-filter: drop-shadow(0 1px 1px hsla(0,0%,0%,.3));
}
.tape:after,
.tape:before {
  background-size: .4em .4em;
  bottom: 0;
  content: '';
  position: absolute;
  top: 0;
  width: .2em;
}
.tape:after {
  background-image: linear-gradient(45deg, transparent 50%, hsla(0,0%,100%,.3) 50%),
                    linear-gradient(-45deg, transparent 50%, hsla(0,0%,100%,.3) 50%);
  background-position: 0 100%;
  left: -.2em;
}
.tape:before {
  background-image: linear-gradient(135deg, transparent 50%, hsla(0,0%,100%,.3) 50%),
                    linear-gradient(-135deg, transparent 50%, hsla(0,0%,100%,.3) 50%);
  background-position: 100% 100%;
  right: -.2em;
}

/* Colors */
.white {
	background-color: #fff;
}

.black {
	background-color: #000;
}

.light-blue {
	background-color: #E7FBFF;
}

.blue {
	background-color: #ACEBFF;
}

.light-pink {
	background-color: #F6DDDD;
}

.pink {
	background-color: #EBAEAE;
}

.light-orange {
	background-color: #F3CDAB;
}

.orange {
	background-color: #FFA353;
}

.light-yellow {
	background-color: #FCEFC1;
}

.yellow {
	background-color: #F4DF93;
}

.light-green {
	background-color: #C1F0C6;
}

.green {
	background-color: #76BF7D;
}

.light-purple {
	background-color: #DED3EB;
}

.purple {
	background-color: #A98FCB;
}